.container
    .jumbotron
        h1 KitStash
        p An application for keeping track of your model kits and/or model trains.

    .row
        .col-md-6
            div(ng-include="'/partials/main/kits-in-stock'")
        .col-md-6
            div(ng-include="'/partials/main/new-kits'")